/* base/body.css */
@layer base {
  body {
    /* antialiased */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizelegibility;
  }
}
