/* --------------------
 * Formulaires
 * (input, textarea, select, checkbox, radio, switch, range)
 * https://knacss.com/ 
 * -------------------- */

@layer base {

  label,
  legend {
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    padding: var(--label-padding);
    text-transform: var(--label-text-transform);
  }

  .help {
    font-size: var(--font-size-xs);
    color: var(--color-muted);
    margin-block: 0;
  }

  /* Input
  * -------------------- */

  input:not(
    [type='button'],
    [type='reset'],
    [type='submit'],
    [type='checkbox'],
    [type='radio'],
    [type='range']
  ) {

    border: 0;
    background-color: var(--input-background-color);
    border-radius: var(--input-border-radius);
    box-shadow: inset 0 0 0 var(--input-border-width) var(--input-border-color);
    color: var(--input-color);
    display: block;
    font: inherit;
    line-height: var(--line-height-normal);
    padding: var(--input-padding);
    outline-offset: 2px;
    transition: var(--transition-normal);
    width: 100%;

    /* État survol */
    &:hover,
    &:focus-visible {
      box-shadow: inset 0 0 0 var(--input-border-width) var(--input-border-color-hover);
    }

    /* État invalide après interaction utilisateur */
    /* &:user-invalid {
      --input-border-color: var(--error);
      --input-border-width: 2px;
    } */

    /* Placeholder */
    &::placeholder {
      color: var(--input-placeholder-color);
      opacity: 100%;
    }
  }

  /* Champ de recherche */
  :where(input[type='search']) {
    appearance: textfield;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      appearance: none;
    }
  }

  /* Champs numériques */
  :where(input[type='number']) {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  /* Champ de date et heure */
  :where(input[type='date'], input[type='time'], input[type='datetime-local']) {
    cursor: pointer;

    /* Styles pour WebKit */
    &::-webkit-calendar-picker-indicator {
      transition: opacity var(--transition-normal);
      opacity: 60%;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        opacity: 100%;
      }
    }
  }

  /* Champ de fichier */
  :where(input[type='file']) {
    padding: var(--spacing-8, 0.5rem) var(--spacing-12, 0.75rem);
    cursor: pointer;

    &::file-selector-button {
      border: 0;
      border-radius: var(--input-border-radius);
      background-color: var(--form-accent-color);
      color: var(--on-primary, #ffffff);
      font: inherit;
      cursor: pointer;
      margin-right: var(--spacing-12, 0.75rem);
      padding: var(--spacing-8, 0.5rem) var(--spacing-12, 0.75rem);
      transition: background-color var(--transition-normal);

      /* État survol */
      /* &:hover,
      &:focus-visible {
        background-color: oklch(
          from var(--form-accent-color) calc(l * 0.9) c h
        );
      } */
    }

    /* Support WebKit */
    &::-webkit-file-upload-button {
      border: 0;
      border-radius: var(--input-border-radius);
      background-color: var(--form-accent-color);
      color: var(--color-on-primary, #ffffff);
      cursor: pointer;
      font: inherit;
      padding: 0.5rem 0.75rem;
      margin-right: 0.75rem;
      transition: var(--transition-normal);

      /* État survol */
      /* &:hover,
      &:focus-visible {
        background-color: oklch(
          from var(--form-accent-color) calc(l * 0.9) c h
        );
      } */
    }
  }

  /* Select
  * -------------------- */

  select {
    appearance: none;
    background-color: var(--select-background-color);
    background-image: var(--chevron-lightmode);
    background-repeat: no-repeat;
    background-position: right var(--spacing-16, 1rem) center;
    background-size: 1rem;
    border: 0;
    border-radius: var(--select-border-radius);
    box-shadow: inset 0 0 0 var(--select-border-width) var(--select-border-color);
    color: var(--select-color);
    cursor: pointer;
    display: block;
    font: inherit;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    padding-right: 2rem;
    transition: var(--transition-normal);
    user-select: none;
    width: 100%;

    /* État survol */
    &:hover,
    &:focus-visible {
      box-shadow: inset 0 0 0 var(--select-border-width) var(--select-border-color-hover);
    }

    /* Support des modes sombres pour les flèches */
    [data-theme='dark'] & {
      background-image: var(--chevron-darkmode);
    }

    /* Sélection multiple */
    &[multiple] {
      padding-right: var(--spacing-16, 1rem);
      background-image: none;
      cursor: default;
    }
  }

  /* Optgroups */
  :where(optgroup) {
    color: var(--select-optgroup-color);
    font-weight: var(--font-weight-bold, 700);
  }

  /* Textarea
  * -------------------- */

  textarea {
    display: block;
    width: 100%;
    min-height: 5lh;
    padding: var(--form-spacing, 12px 16px);
    transition-property: background, border, box-shadow, color;
    transition-duration: var(--transition-duration, 0.25s);
    border: 0;
    border-radius: var(--textarea-border-radius);
    background-color: var(--textarea-background-color);
    box-shadow: inset 0 0 0 var(--textarea-border-width) var(--textarea-border-color);
    color: var(--textarea-color);
    font: inherit;
    line-height: 1.5;
    resize: vertical;
    field-sizing: content;

    /* État survol */
    &:hover,
    &:focus-visible {
      box-shadow: inset 0 0 0 var(--textarea-border-width) var(--textarea-border-color-hover);
    }

    /* État invalide après interaction utilisateur */
    /* &:user-invalid {
      --textarea-border-color: var(--error);
      --textarea-border-width: 2px;
    } */

    /* Placeholder */
    &::placeholder {
      color: var(--textarea-placeholder-color);
      opacity: 100%;
    }
  }

  /* Checkbox
  * -------------------- */

  [type='checkbox']:not([role='switch']) {
    display: inline-grid;
    position: relative;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: var(--checkable-size, 1.25rem);
    height: var(--checkable-size, 1.25rem);
    margin: 0;
    transition-property: background, border, box-shadow, color;
    transition-duration: var(--transition-normal);
    border: 0;
    border-radius: var(--checkbox-border-radius);
    background-color: var(--checkbox-background-color);
    box-shadow: inset 0 0 0 var(--checkbox-border-width) var(--checkbox-border-color);
    font: inherit;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    appearance: none;

    /* États */
    &:is(:checked, :indeterminate) {
      background-color: var(--checkbox-checked-background-color, #ffffff);
      box-shadow: inset 0 0 0 var(--checkbox-border-width) var(--checkbox-border-color);
    }

    /* État survol */
    &:hover,
    &:focus-visible {
      box-shadow: inset 0 0 0 var(--checkbox-border-width) var(--checkbox-border-color-hover);
    }

    /* État coché */
    &:checked::after {
      background-color: var(--form-accent-color, #ffffff);
      content: '';
      height: 100%;
      mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>') center no-repeat;
      position: absolute;
      transform: scale(.7);
      width: 100%;
    }

    &:indeterminate::after {
      background-color: currentcolor;
      content: '';
      height: 100%;
      mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M431 256c0 17.7-14.3 32-32 32H49c-17.7 0-32-14.3-32-32s14.3-32 32-32h350c17.7 0 32 14.3 32 32z"/></svg>') center no-repeat;
      position: absolute;
      width: 100%;
    }
  }
  [type='checkbox'] + label {
    --label-spacing: .15rem 0 0 .3125rem;
  }

  /* Radio
  * -------------------- */

  [type='radio'] {

    display: inline-grid;
    width: var(--checkable-size, 1.25em);
    height: var(--checkable-size, 1.25em);
    margin: 0;
    padding: 0;
    transition-property: background, border, box-shadow, color;
    transition-duration: var(--transition-normal);
    border: 0;
    border-radius: var(--radio-border-radius);
    background-color: var(--radio-background-color);
    box-shadow: inset 0 0 0 var(--radio-border-width) var(--radio-border-color);
    cursor: pointer;
    appearance: none;
    place-content: center;

    &::before {
      content: '';
      width: calc(var(--checkable-size, 1.25em) / 1);
      height: calc(var(--checkable-size, 1.25em) / 1);
      transition-property: scale;
      transition-duration: var(--transition-normal);
      border: 2px solid var(--radio-checked-border-color);
      border-radius: var(--radius-full, 9999px);
      background-color: var(--radio-checked-color);
      scale: 0;
    }

    /* État survol */
    &:hover,
    &:focus-visible {
      box-shadow: inset 0 0 0 var(--radio-border-width)
        var(--radio-border-color-hover);
    }

    /* État coché */
    &:checked {
      &::before {
        scale: 0.5;
      }
    }
  }
  [type='radio'] + label {
    --label-spacing: .15rem 0 0 .3125rem;
  }

  /* Switch
  * -------------------- */

  [role="switch"] {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    width: var(--switch-width);
    height: var(--switch-height);
    margin: 0;
    padding: 0;
    transition-property: background;
    transition-duration: var(--transition-normal);
    border: var(--switch-border-color) solid var(--switch-border-width);
    border-radius: var(--switch-border-radius);
    background-color: var(--switch-track-color);
    cursor: pointer;
    appearance: none;

    &::before {
      content: "";
      transition-property: flex-grow;
      transition-duration: var(--transition-normal);
    }

    /* Indicateur du switch */
    &::after {
      content: "";
      flex-shrink: 0;
      width: var(--switch-height);
      height: var(--switch-height);
      transition-property: background, scale;
      transition-duration: var(--transition-normal);
      border-radius: var(--switch-border-radius);
      background-color: var(--switch-thumb-color);
      scale: 0.6;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path fill="currentcolor" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0%;
    }

    /* État coché */
    &:checked::before {
      flex-grow: 1;
    }

    /* État coché (variante) */
    &[data-variant="check"]:checked {
      border-color: var(--switch-track-color-checked);
      background-color: var(--switch-track-color-checked);

      &::before {
        flex-grow: 1;
      }

      &::after {
        scale: 0.8;
        background-color: var(--color-white);
        background-size: 70%;
      }
    }
  }

  /* Range
  * -------------------- */

  .range {
    position: relative;
    padding-bottom: 2rem; /* Espace pour la valeur affichée */
  }

  [type="range"] {
    width: 100%;
    overflow: hidden;
    background: #ffffff00;
    color: var(--range-color);
  }

  /* WebKit */
  [type="range"],
  [type="range"]::-webkit-slider-runnable-track,
  [type="range"]::-webkit-slider-thumb {
    height: var(--range-thumb-size);
    transition: all ease 100ms;
    appearance: none;
  }

  [type="range"]::-webkit-slider-runnable-track,
  [type="range"]::-webkit-slider-thumb {
    position: relative;
  }

  [type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--range-thumb-size) * 0.5) - 1px);
    --clip-top: calc(
      (var(--range-thumb-size) - var(--range-track-height)) * 0.5 - 0.5px
    );
    --clip-bottom: calc(var(--range-thumb-size) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--range-thumb-size))) 0 0
      100vmax currentcolor;

    width: var(--thumb-width, var(--range-thumb-size));
    border: var(--range-thumb-border-width) solid var(--range-thumb-border-color);
    border-radius: var(--thumb-width, var(--range-thumb-size));
    background: linear-gradient(currentcolor 0 0) scroll no-repeat left center /
      50% calc(var(--range-track-height) + 1px);
    background-color: currentcolor;
    box-shadow: var(--box-fill);
    filter: brightness(100%);
    clip-path: polygon(
      100% -1px,
      var(--range-track-height) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--range-track-height) 100%,
      var(--clip-further) var(--clip-further)
    );
  }

  [type="range"]:hover::-webkit-slider-thumb {
    cursor: ew-resize;
  }

  [type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--range-track-color) 0 0) scroll no-repeat
      center / 100% calc(var(--range-track-height) + 1px);
  }

  /* Firefox */
  [type="range"],
  [type="range"]::-moz-range-track,
  [type="range"]::-moz-range-thumb {
    height: var(--range-thumb-size);
    transition: all ease 100ms;
    appearance: none;
  }

  [type="range"]::-moz-range-track,
  [type="range"]::-moz-range-thumb,
  [type="range"]::-moz-range-progress {
    background: #ffffff00;
  }

  [type="range"]::-moz-range-thumb {
    box-sizing: border-box;
    width: var(--thumb-width, var(--range-thumb-size));
    border: var(--range-thumb-border-width) solid var(--range-thumb-border-color);
    border-radius: var(--thumb-width, var(--range-thumb-size));
    background: currentcolor;
    cursor: ew-resize;
  }

  [type="range"]::-moz-range-track {
    width: 100%;
    background: var(--range-track-color);
  }

  [type="range"]::-moz-range-progress {
    transition-delay: 30ms;
    background: currentcolor;
    appearance: none;
  }

  [type="range"]::-moz-range-track,
  [type="range"]::-moz-range-progress {
    height: calc(var(--range-track-height) + 1px);
    border-radius: var(--range-track-height);
  }

  .range-value {
    position: absolute;
    left: 0;
    padding: 4px 8px;
    border-radius: var(--form-border-radius, 4px);
    background-color: var(--form-background, ButtonFace);
    font-size: var(--text-14, 0.875rem);
    translate: 0 1.4rem;
  }

  @supports (position-anchor: initial) {
    [data-range-output="anchor"] ::-webkit-slider-thumb {
      anchor-name: --thumb;
    }

    [data-range-output="anchor"] ::-moz-range-thumb {
      anchor-name: --thumb;
    }

    [data-range-output="anchor"] .range-value {
      position-anchor: --thumb;
      position-area: bottom;
      translate: 0 0.5rem;
    }
  }

}