/* tokens/semantic/color.css */
@layer config {
  :root {
    /* Background */
    --color-bg: var(--color-white);
    --color-bg-media: var(--color-gray-200);
    --color-bg-muted: var(--color-gray-100);

    /* Border */
    --color-border: var(--color-gray-200);
    --color-focus: var(--color-brand);

    /* Text */
    --color-active: var(--color-brand);
    --color-heading: var(--color-black);
    --color-link: var(--color-black);
    --color-text: var(--color-gray-900);
    --color-text-muted: var(--color-gray-500);
    --color-text-disabled: var(--color-gray-300);
    --color-text-on-brand: var(--color-white);

    /* Variants */

    /* Brand */
    --color-brand: var(--color-claret-600);
    --color-brand-muted: var(--color-claret-100);
    --color-brand-hover: var(--color-claret-700);
    --color-brand-strong: var(--color-claret-900);

    /* Dark */
    --color-dark: var(--color-gray-900);
    --color-dark-muted: var(--color-gray-800);
    --color-dark-strong: var(--color-white);

    /* Danger */
    --color-danger: var(--color-red-500);
    --color-danger-muted: var(--color-red-100);
    --color-danger-strong: var(--color-red-900);

    /* Info */
    --color-info: var(--color-blue-500);
    --color-info-muted: var(--color-blue-100);
    --color-info-strong: var(--color-blue-900);

    /* Light */
    --color-light: var(--color-gray-200);
    --color-light-muted: var(--color-gray-100);
    --color-light-strong: var(--color-gray-700);

    /* Primary */
    --color-primary: var(--color-brand);
    --color-primary-muted: var(--color-brand-muted);
    --color-primary-strong: var(--color-brand-strong);

    /* Secondary */
    --color-secondary: var(--color-gray-500);
    --color-secondary-muted: var(--color-gray-100);
    --color-secondary-strong: var(--color-gray-800);

    /* Success */
    --color-success: var(--color-green-500);
    --color-success-muted: var(--color-green-100);
    --color-success-strong: var(--color-green-900);

    /* Warning */
    --color-warning: var(--color-yellow-500);
    --color-warning-muted: var(--color-yellow-100);
    --color-warning-strong: var(--color-yellow-900);
  }
}
