/* tokens/semantic/grid.css */
@layer config {
  :root {

    /* Flex */
    --flex-full:                     100%;
    --flex-five-sixths:              83.3333333333%;
    --flex-four-fifths:              80%;
    --flex-three-quarters:           75%;
    --flex-two-thirds:               66.6666666667%;
    --flex-half:                     50%;
    --flex-third:                    33.3333333333%;
    --flex-quarter:                  25%;
    --flex-fifth:                    20%;
    --flex-sixth:                    16.6666666667%;
    
    /* Spans */
    --span-full:                     span var(--columns);
    --span-two-thirds:               span calc(var(--columns) / 1.5); 
    --span-half:                     span calc(var(--columns) / 2); 
    --span-third:                    span calc(var(--columns) / 3);
    --span-quarter:                  span calc(var(--columns) / 4);
    --span-fifth:                    span calc(var(--columns) / 5);
    --span-sixth:                    span calc(var(--columns) / 6);

  }
}
