/* tokens/semantic/motion.css */
@layer config {
  :root {
    /* Duration */
    --duration-fast: 150ms;
    --duration-normal: 300ms;
    --duration-slow: 600ms;

    /* Easing */
    --easing-bounce: cubic-bezier(0.165, 0.84, 0.44, 1);
    --easing-default: ease-in-out;
    --easing-in: ease-in;
    --easing-out: ease-out;

    /* Transition */
    --transition-normal: all var(--duration-normal) var(--easing-default);
    --transition-fast: all var(--duration-fast) var(--easing-default);
    --transition-slow: all var(--duration-slow) var(--easing-default);
  }
}
