/* tokens/semantic/spacing.css */
@layer config {
  :root {

    /* T-shirt scale */
    --spacing-xs: var(--size-10);
    --spacing-sm: var(--size-20);
    --spacing-md: var(--size-30);
    --spacing-lg: var(--size-40);
    --spacing-xl: var(--size-60);
    --spacing-2xl: var(--size-80);

    /* Typography */
    --spacing-control:    var(--spacing-xs);
    --spacing-heading:    var(--spacing-sm);
    --spacing-surface:    var(--spacing-sm);
    --spacing-typography: var(--spacing-xs);

  }
}
