/* components/alert.css */
@layer components {
  .alert {
    border-radius: var(--alert-border-radius);
    display: flex;
    flex-direction: column;
    font-size: var(--alert-font-size);
    gap: var(--alert-gap);
    padding: var(--alert-padding-y) var(--alert-padding-x);

    > * {
      margin: 0;
    }

    .alert-heading {
      align-items: center;
      display: flex;
      font-weight: var(--font-weight-semibold);
      gap: var(--alert-gap);
    }

    &:has(.icon:first-child):not(:has(.alert-heading)) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  /* Variants */
  .alert-danger {
    background-color: var(--color-danger-muted);
    color: var(--color-danger-strong);
  }

  .alert-info {
    background-color: var(--color-info-muted);
    color: var(--color-info-strong);
  }

  .alert-success {
    background-color: var(--color-success-muted);
    color: var(--color-success-strong);
  }

  .alert-warning {
    background-color: var(--color-warning-muted);
    color: var(--color-warning-strong);
  }
}
