/* components/block-theme.css */
@layer components {

  .block-accent {
    --block-color-background: var(--color-accent);
    --color-text: var(--color-text-on-accent);
  }

  .block-black {
    --block-color-background: var(--color-text);
    --color-text: var(--color-text-on-black);
  }

  .block-dark {
    --block-color-background: var(--color-dark);
    --color-text: var(--color-text-on-dark);
  }

  .block-highlight {
    --block-color-background: var(--color-highlight);
    --color-text: var(--color-text-on-highlight);
  }

  .block-light {
    --block-color-background: var(--color-light);
    --color-text: var(--color-text-on-light);
  }

  .block-neutral {
    --block-color-background: var(--color-neutral);
    --color-text: var(--color-text-on-neutral);
  }

  .block-white {
    --block-color-background: var(--color-white);
    --color-text: var(--color-text-on-white);
  }

  .block-accent,
  .block-black,
  .block-dark,
  .block-highlight,
  .block-light,
  .block-neutral,
  .block-white {
    --color-text-muted: oklch(from var(--color-text) l c h / var(--opacity-muted));
    --color-heading: var(--color-text);
    --color-link: var(--color-text);
    --surtitle-color: var(--color-text-muted);
    background: var(--block-color-background);
    color: var(--color-text);
  }

  /* Legacy */
  .block-bg {
    background-color: var(--block-bg-color);
  }
}
