/* components/cta.css */
@layer components {
  .cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
  }

  @media (--tablet) {
    .cta {
      flex-direction: row;
    }
  }
}
