/* components/hero-theme.css */
@layer components {

  .hero-accent {
    --hero-color-background: var(--color-accent);
    --hero-color-link: var(--color-text-on-accent);
    --hero-color-text: var(--color-text-on-accent);
    --hero-title-color: var(--color-text-on-accent);
    .btn {
      --btn-color-background: var(--color-text-on-accent);
      --btn-color-border: var(--color-text-on-accent);
      --btn-color-text: var(--color-accent);
    }
  }

  .hero-black {
    --hero-color-background: var(--color-text);
    --hero-color-link: var(--color-text-on-black);
    --hero-color-text: var(--color-text-on-black);
    --hero-title-color: var(--color-text-on-black);
  }

  .hero-dark {
    --hero-color-background: var(--color-dark);
    --hero-color-link: var(--color-text-on-dark);
    --hero-color-text: var(--color-text-on-dark);
    --hero-title-color: var(--color-text-on-dark);
  }

  .hero-highlight {
    --hero-color-background: var(--color-highlight);
    --hero-color-link: var(--color-text-on-highlight);
    --hero-color-text: var(--color-text-on-highlight);
    --hero-title-color: var(--color-text-on-highlight);
  }

  .hero-light {
    --hero-color-background: var(--color-light);
    --hero-color-link: var(--color-text-on-light);
    --hero-color-text: var(--color-text-on-light);
    --hero-title-color: var(--color-text-on-light);
  }

  .hero-neutral {
    --hero-color-background: var(--color-neutral);
    --hero-color-link: var(--color-text-on-neutral);
    --hero-color-text: var(--color-text-on-neutral);
    --hero-title-color: var(--color-text-on-neutral);
  }

  .hero-white {
    --hero-color-background: var(--color-white);
    --hero-color-link: var(--color-text-on-white);
    --hero-color-text: var(--color-text-on-white);
    --hero-title-color: var(--color-text-on-white);
  }

}
