
/* components/latest.css */
@layer components {
  .latest {
    margin-block: var(--spacing-section);
    
    @media (--tablet) {
      .heading {
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    @media not (--tablet-wide) {
      .items {
        /* scrollsnap */
        grid-auto-columns: min(var(--items-min-width, 30ch), var(--items-carousel-max-width, 75vw));
        grid-auto-flow: column;
        grid-template-columns: none;

        margin-inline: calc(var(--gutter) * -1);
        overflow-x: auto;
        padding-inline: var(--gutter);
        scroll-snap-type: x mandatory;

        > * {
          scroll-margin-inline: var(--gutter);
          scroll-snap-align: start;
        }

      }
    }
  }
}