
/* components/latest.css */
@layer components {
  .latest {
    margin-block: var(--spacing-section);
    
    @media (--tablet) {
      .heading {
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}