/* components/metas.css */
@layer components {
  .metas {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--metas-font-size);
    gap: var(--metas-gap);

    > * {
      margin-block: 0;
    }

    > *:not(:first-child):not(.share):not(.status)::before {
      content: var(--metas-separator, "-");
      display: inline-block;
      margin-inline-end: var(--metas-gap);
      vertical-align: middle;
    }

    .share {
      display: none;
    }

    @media (--tablet) {
      .share {
        display: initial;
        margin-block-start: 0;
        margin-inline-start: auto;
      }
    }
  }
}