/* components/notes.css */
@layer components {
  [href^="#nb-"] span {
    display: none;
  }

  .notes {
    p {
      font-size: var(--font-size-small);
    }
    li {
      font-size: var(--font-size-xs);
      font-style: italic;
      text-wrap: pretty;
    }
  }
}