/* components/page.css */
/*
 * .page overrides --item-* tokens via --page-* to customize the item base.
 * Only add properties that diverge from the default item tokens.
 * Usage: <article class="item page">
 */
@layer components {
  .page {
    --btn-color-bg: var(--item-btn-color-bg);
    --btn-border-width: var(--item-btn-border-width);
    --btn-color-text: var(--item-btn-color-text);
    --btn-padding-x: 0;
    --btn-padding-y: 0;
    --btn-color-text-decoration: transparent;

    /* Hover */
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --btn-color-text-decoration: initial;
      }
    }
  }
}