/* components/press.css */
/*
 * .press — press mention card or badge
 *
 */
@layer components {
  .press {
    /* Badge */
    --badge-border-radius: var(--press-badge-border-radius);
    --badge-border-style: var(--press-badge-border-style);
    --badge-border-width: var(--press-badge-border-width);
    --badge-color-background: var(--press-badge-color-background);
    --badge-color-text: var(--color-text-on-light);

    /* Card */
    --card-border-radius: var(--press-card-border-radius);
    --card-border-style: var(--press-card-border-style);
    --card-border-width: var(--press-card-border-width);
    --card-color-background: var(--press-card-color-background);
    --card-color-border: var(--press-card-color-border);
    --card-title-font-size: var(--press-card-title-font-size);
    --card-title-font-weight: var(--press-card-title-font-weight);
    .metas {
      font-size: var(--press-metas-font-size);
    }
  }
}
