/* components/sidebar.css */
/*
 * .sidebar — aside section.
 * 
 */
@layer components {
  .sidebar {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-gap);

    > * {
      margin-block: 0;
    }

    .card {
      width: 100%;
    }
  }
}
