/* components/status.css */
@layer components {
  .status {
    background-color: var(--status-color-background);
    border: var(--status-border-width) var(--status-border-style) var(--status-color-border);
    border-radius: var(--status-border-radius);
    color: var(--status-color-text);
    display: inline-block;
    font-size: var(--status-font-size);
    font-weight: var(--status-font-weight);
    padding-block: var(--status-padding-block);
    padding-inline: var(--status-padding-inline);
    text-decoration: none;
  }

  @media (hover: hover) and (pointer: fine) {
    a.status:hover {
      background-color: var(--status-color-background-hover, var(--status-color-background));
      color: var(--status-color-text-hover, var(--status-color-text));
    }
  }

  /* Variants */
  .status-exclusive    {
    --status-color-background: var(--color-danger);
    --status-color-background-hover: var(--color-danger-strong);
    --status-color-text: var(--color-text-on-danger);
  }
}
