/* tokens/primitive/font.css */
@layer config {
  :root {
    /* families */
    --font-family-mono: ui-monospace, monospace;
    --font-family-sans: system-ui, sans-serif;
    --font-family-serif: Georgia, serif;

    /* weights */
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;

    /* line heights */
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.75;
    --line-height-snug: 1.25;
    --line-height-tight: 1.1;
  }
}
