/* layouts/container.css */
@layer layouts {
  .container {
    margin-inline: auto;
    max-width: 100%;
    padding-inline: var(--gutter);
    width: 100%;

    @media (--tablet)      { max-width: var(--container-max-width-tablet); }
    @media (--tablet-wide) { max-width: var(--container-max-width-tablet-wide); }
    @media (--laptop)      { max-width: var(--container-max-width-laptop); }
    @media (--desktop)     { max-width: var(--container-max-width-desktop); }
  }
}
