/* layouts/grid.css */
@layer layouts {
  .grid {
    --grid-column: var(--span-full);
    row-gap: var(--gap-row);

    /* Layouts */
    > * {
      margin-block: 0 !important;
    }

    > .content {
      display: flex;
      flex-direction: column;
      row-gap: var(--gap-row);
    }

    .toc {
      margin-block-end: var(--gap);
      order: -1;
    }

    @media (--tablet-wide) {

      .featured-image {
        --grid-column: span 4;
      }

      /* ── Content ────────────────────────────────────────────── */
      .content {
        --grid-column: span 8;
      }
      .content:first-child:last-child {
        --grid-column: var(--span-full);
      }
      .sidebar--menu + div {
        --grid-column: span 10;
      }

      /* ── Sidebar ────────────────────────────────────────────── */
      .sidebar,
      .toc {
        --grid-column: span 3 / -1;
      }
      .sidebar:has(& + .toc) {
        align-self: start;
      }
      .sidebar--menu {
        --grid-column: span 2;
      }
      .toc {
        order: initial;
      }

      /* ── Sidebar + TOC ──────────────────────────────────────── */
      &:has(.sidebar + .toc) {
        grid-template-rows: auto auto 1fr auto;
        .content {
          grid-row: span 2;
        }
      }
    }

  }
}
