/* layouts/grid.css */
@layer layouts {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gap);

    & > * {
      grid-column: var(--grid-column);
    }

    @media (--tablet) { --grid-column: var(--grid-column-tablet); }
    @media (--tablet-wide) { --grid-column: var(--grid-column-tablet-wide); }
    @media (--laptop) { --grid-column: var(--grid-column-laptop); }
    @media (--desktop) { --grid-column: var(--grid-column-desktop); }

  }
}
