/* tokens/component/alt-description.css */
@layer config {
  :root {
    --alt-description-color-text:          var(--color-text-muted);
    --alt-description-font-size:           var(--font-size-xs);
    --alt-description-margin:              var(--spacing-xs) 0 0;
    --alt-description-padding:             var(--spacing-xs);
    --alt-description-summary-font-size:   var(--font-size-xs);
    --alt-description-summary-font-weight: var(--font-weight-normal);
  }
}
