/* tokens/component/container.css */
@layer config {
  :root {

    /* Container */
    --container-max-width-mobile:      100%;
    --container-max-width-tablet:      var(--size-tablet);
    --container-max-width-tablet-wide: var(--size-tablet-wide);
    --container-max-width-laptop:      var(--size-laptop);
    --container-max-width-desktop:     var(--size-desktop);
    
    /* Grid */
    --columns:                         12;
    --gap:                             var(--spacing-sm);
    --gutter:                          var(--spacing-md);
    --grid-column:                     var(--grid-column-mobile);

    /* Grid spans */
    --grid-column-mobile:              span var(--span-full);
    --grid-column-tablet:              span var(--span-half);
    --grid-column-tablet-wide:         span var(--span-third);
    --grid-column-laptop:              span var(--span-quarter);
    --grid-column-desktop:             span var(--span-quarter);

  }
}
