/* tokens/component/items.css */
@layer config {
  :root {

    /* Grid */
    --items-columns:        var(--columns);
    --items-gap:            var(--gap);
    --items-grid-column:    var(--grid-column-mobile);

    /* Column spans */
    --items-grid-column-mobile:      var(--grid-column-mobile);
    --items-grid-column-tablet:      var(--grid-column-tablet);
    --items-grid-column-tablet-wide: var(--grid-column-tablet-wide);
    --items-grid-column-laptop:      var(--grid-column-laptop);
    --items-grid-column-desktop:     var(--grid-column-desktop);
  }
}
