/* components/blocks/block-paragraph.css */
/*
 * .block-paragraph — full-width block section wrapping a paragraph.
 *
 * Structure:
 *   section.block-paragraph[.block-light]
 *     .heading
*      .paragraph
 *     .footing
 */
@layer components {
  .block-paragraph {
    .paragraph {
      .heading {
        margin-block-end: var(--gap);
      }
      
      .notes,
      .cta {
        margin-block-start: var(--gap);
      }
    }

    &.block-align-center {
      .text p {
        margin-inline: auto;
      }
    }

    &.block-align-end {
      .text p {
        margin-inline-start: auto;
      }
    }
  }
}
